<%- model_class = Track -%>
<div class="page-header">
  <ul class="nav nav-tabs" role="tablist">
    <li><%= link_to 'View tracks', tracks_path %></li>
    <li class="active"><%= link_to 'New track', new_track_path %></li>
  </ul>
  <h1>New Hike</h1>
</div>
<%= render :partial => 'form' %>
